In [9]:
import pandas as pd
import sklearn as skl
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.linear_model import Ridge, Lasso
from sklearn.tree import DecisionTreeRegressor
import numpy as np
import pickle
import regex as re

In [11]:
df = pd.read_csv("Resources/Salary_Data_Based_country_and_race.csv")
df.head()

,Unnamed: 0,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race
0,0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0,UK,White
1,1,28.0,Female,Master's,Data Analyst,3.0,65000.0,USA,Hispanic
2,2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0,USA,Hispanic
4,4,52.0,Male,Master's,Director,20.0,200000.0,USA,Asian

In [12]:
# Drop Unnamed: 0 column
df2 = df.drop(columns=['Unnamed: 0'])

# Rename columns
df2 = df2.rename(columns={'Education Level': 'Education', 
                   'Job Title': 'Job',})

df2.dropna(inplace=True)

# Rename values in Education column
df2['Education'] = df2['Education'].replace('phD', 'PhD')
df2['Education'] = df2['Education'].replace("Bachelor's", "Bachelor's Degree")
df2['Education'] = df2['Education'].replace("Master's", "Master's Degree")                  
df2['Education'].unique()

df2

,Age,Gender,Education,Job,Years of Experience,Salary,Country,Race
0,32.0,Male,Bachelor's Degree,Software Engineer,5.0,90000.0,UK,White
1,28.0,Female,Master's Degree,Data Analyst,3.0,65000.0,USA,Hispanic
2,45.0,Male,PhD,Senior Manager,15.0,150000.0,Canada,White
3,36.0,Female,Bachelor's Degree,Sales Associate,7.0,60000.0,USA,Hispanic
4,52.0,Male,Master's Degree,Director,20.0,200000.0,USA,Asian
...,...,...,...,...,...,...,...,...
6699,49.0,Female,PhD,Director of Marketing,20.0,200000.0,UK,Mixed
6700,32.0,Male,High School,Sales Associate,3.0,50000.0,Australia,Australian
6701,30.0,Female,Bachelor's Degree,Financial Manager,4.0,55000.0,China,Chinese
6702,46.0,Male,Master's Degree,Marketing Manager,14.0,140000.0,China,Korean
6703,26.0,Female,High School,Sales Executive,1.0,35000.0,Canada,Black

In [17]:
# Remove the 'Senior' and 'Junior' from the job column
data = df2['Job']

output_data = [re.sub(r'^(Senior|Junior)\s*', '', x) for x in data]


# Use for loop to replace all the values in job column with an integer value and append to a dictionary
job_dict = {}
value_mapping = []
for i, unique_value in enumerate(set(output_data)):
    job_dict[unique_value] = i + 1
    mapping = {'label': unique_value, 'value': i + 1}
    value_mapping.append(mapping)



        
print(value_mapping)

[{'label': 'Sales Associate', 'value': 1}, {'label': 'Project Engineer', 'value': 2}, {'label': 'Juniour HR Coordinator', 'value': 3}, {'label': 'Director of Sales', 'value': 4}, {'label': 'Director', 'value': 5}, {'label': 'Social Media Man', 'value': 6}, {'label': 'IT Support Specialist', 'value': 7}, {'label': 'Customer Service Representative', 'value': 8}, {'label': 'Front End Developer', 'value': 9}, {'label': 'Help Desk Analyst', 'value': 10}, {'label': 'Product Marketing Manager', 'value': 11}, {'label': 'Researcher', 'value': 12}, {'label': 'Chief Technology Officer', 'value': 13}, {'label': 'Research Director', 'value': 14}, {'label': 'Back end Developer', 'value': 15}, {'label': 'Manager', 'value': 16}, {'label': 'Accountant', 'value': 17}, {'label': 'Customer Service Manager', 'value': 18}, {'label': 'Software Architect', 'value': 19}, {'label': 'Digital Content Producer', 'value': 20}, {'label': 'Director of Business Development', 'value': 21}, {'label': 'Product Designer', 'value': 22}, {'label': 'Sales Executive', 'value': 23}, {'label': 'Director of Finance', 'value': 24}, {'label': 'Research Scientist', 'value': 25}, {'label': 'Business Operations Analyst', 'value': 26}, {'label': 'Recruiter', 'value': 27}, {'label': 'Administrative Assistant', 'value': 28}, {'label': 'Operations Director', 'value': 29}, {'label': 'Supply Chain Analyst', 'value': 30}, {'label': 'Full Stack Engineer', 'value': 31}, {'label': 'IT Support', 'value': 32}, {'label': 'Quality Assurance Analyst', 'value': 33}, {'label': 'Data Engineer', 'value': 34}, {'label': 'Chief Data Officer', 'value': 35}, {'label': 'Human Resources Manager', 'value': 36}, {'label': 'Office Manager', 'value': 37}, {'label': 'Social Media Specialist', 'value': 38}, {'label': 'Developer', 'value': 39}, {'label': 'Customer Support Specialist', 'value': 40}, {'label': 'Receptionist', 'value': 41}, {'label': 'Product Development Manager', 'value': 42}, {'label': 'Operations Coordinator', 'value': 43}, {'label': 'VP of Finance', 'value': 44}, {'label': 'Front end Developer', 'value': 45}, {'label': 'Principal Engineer', 'value': 46}, {'label': 'Director of Marketing', 'value': 47}, {'label': 'Director of HR', 'value': 48}, {'label': 'Data Analyst', 'value': 49}, {'label': 'Marketing Analyst', 'value': 50}, {'label': 'Director of Sales and Marketing', 'value': 51}, {'label': 'Marketing Director', 'value': 52}, {'label': 'Product Manager', 'value': 53}, {'label': 'Technical Recruiter', 'value': 54}, {'label': 'Engineer', 'value': 55}, {'label': 'Director of Engineering', 'value': 56}, {'label': 'Sales Representative', 'value': 57}, {'label': 'Director of Product Management', 'value': 58}, {'label': 'Business Analyst', 'value': 59}, {'label': 'Strategy Consultant', 'value': 60}, {'label': 'Account Manager', 'value': 61}, {'label': 'Social Media Manager', 'value': 62}, {'label': 'Supply Chain Manager', 'value': 63}, {'label': 'Customer Success Manager', 'value': 64}, {'label': 'Sales Manager', 'value': 65}, {'label': 'Scientist', 'value': 66}, {'label': 'Web Developer', 'value': 67}, {'label': 'HR Generalist', 'value': 68}, {'label': 'Financial Analyst', 'value': 69}, {'label': 'Director of Human Capital', 'value': 70}, {'label': 'Designer', 'value': 71}, {'label': 'Director of Human Resources', 'value': 72}, {'label': 'Marketing Specialist', 'value': 73}, {'label': 'UX Designer', 'value': 74}, {'label': 'Marketing Manager', 'value': 75}, {'label': 'Copywriter', 'value': 76}, {'label': 'Customer Service Rep', 'value': 77}, {'label': 'Technical Support Specialist', 'value': 78}, {'label': 'Human Resources Director', 'value': 79}, {'label': 'Web Designer', 'value': 80}, {'label': 'Data Scientist', 'value': 81}, {'label': 'Graphic Designer', 'value': 82}, {'label': 'Principal Scientist', 'value': 83}, {'label': 'Project Manager', 'value': 84}, {'label': 'Delivery Driver', 'value': 85}, {'label': 'Account Executive', 'value': 86}, {'label': 'Director of Operations', 'value': 87}, {'label': 'Juniour HR Generalist', 'value': 88}, {'label': 'Content Marketing Manager', 'value': 89}, {'label': 'Sales Operations Manager', 'value': 90}, {'label': 'Technical Writer', 'value': 91}, {'label': 'HR Coordinator', 'value': 92}, {'label': 'Human Resources Specialist', 'value': 93}, {'label': 'Network Engineer', 'value': 94}, {'label': 'Software Project Manager', 'value': 95}, {'label': 'IT Manager', 'value': 96}, {'label': 'CEO', 'value': 97}, {'label': 'Event Coordinator', 'value': 98}, {'label': 'Software Engineer Manager', 'value': 99}, {'label': 'HR Manager', 'value': 100}, {'label': 'HR Specialist', 'value': 101}, {'label': 'Business Development Associate', 'value': 102}, {'label': 'Public Relations Manager', 'value': 103}, {'label': 'Operations Analyst', 'value': 104}, {'label': 'Director of Data Science', 'value': 105}, {'label': 'Marketing Coordinator', 'value': 106}, {'label': 'Training Specialist', 'value': 107}, {'label': 'IT Project Manager', 'value': 108}, {'label': 'Financial Manager', 'value': 109}, {'label': 'Operations Manager', 'value': 110}, {'label': 'Software Manager', 'value': 111}, {'label': 'Software Developer', 'value': 112}, {'label': 'Creative Director', 'value': 113}, {'label': 'Project Coordinator', 'value': 114}, {'label': 'Human Resources Coordinator', 'value': 115}, {'label': 'Software Engineer', 'value': 116}, {'label': 'Business Intelligence Analyst', 'value': 117}, {'label': 'Business Development Manager', 'value': 118}, {'label': 'Customer Success Rep', 'value': 119}, {'label': 'Sales Director', 'value': 120}, {'label': 'UX Researcher', 'value': 121}, {'label': 'IT Consultant', 'value': 122}, {'label': 'Digital Marketing Specialist', 'value': 123}, {'label': 'Consultant', 'value': 124}, {'label': 'Data Entry Clerk', 'value': 125}, {'label': 'Advertising Coordinator', 'value': 126}, {'label': 'VP of Operations', 'value': 127}, {'label': 'Financial Advisor', 'value': 128}, {'label': 'Digital Marketing Manager', 'value': 129}]

In [5]:
# Get the list of countries for mapping
df2['Country'].unique()

array(['UK', 'USA', 'Canada', 'China', 'Australia'], dtype=object)

In [6]:
# Combine Ethniticies into 5 categories: White, African American, Asian, Hispanic, and Mixed
df2['Race'] = df2['Race'].replace('Black', 'African American')
df2['Race'] = df2['Race'].replace('Korean', 'Asian')
df2['Race'] = df2['Race'].replace('Chinese', 'Asian')
df2['Race'] = df2['Race'].replace('Welsh', 'White')
df2['Race'] = df2['Race'].replace('Australian', 'White')
df2['Race'].unique()

array(['White', 'Hispanic', 'Asian', 'African American', 'Mixed'],
      dtype=object)

In [7]:

# make a list of the income categories converted to integers
education = {'High School':1, "Bachelor's Degree": 2, "Master's Degree": 3, 'PhD': 4,}
country = {'UK': 1, 'USA': 2, 'Canada': 3, 'China': 4, 'Australia': 5}
race = {'White': 1, 'Hispanic': 2, 'Asian': 3, 'African American': 4, 'Mixed': 5}
gender = {'Female': 0, 'Male': 1}



# Map the values to the dataframe
df2['Education'] = df2['Education'].map(education)
df2['Country'] = df2['Country'].map(country)
df2['Gender'] = df2['Gender'].map(gender)
df2['Race'] = df2['Race'].map(race)
df2['Job'] = df2['Job'].map(job_dict)

# Drop the null columns where all values are null
df2.dropna(inplace=True)

df2.head()

    Age  Gender  Education  Job  Years of Experience    Salary  Country  Race
0  32.0     1.0          2    1                  5.0   90000.0        1     1
1  28.0     0.0          3    2                  3.0   65000.0        2     2
2  45.0     1.0          4    3                 15.0  150000.0        3     1
3  36.0     0.0          2    4                  7.0   60000.0        2     2
4  52.0     1.0          3    5                 20.0  200000.0        2     3

In [8]:
# Get Data types for mapping in dash
df2.dtypes

Age                    float64
Gender                 float64
Education                int64
Job                      int64
Years of Experience    float64
Salary                 float64
Country                  int64
Race                     int64
dtype: object

In [9]:
# Split our preprocessed data into our features and target arrays
y = df2["Salary"].values
X = df2.drop(["Salary"],axis=1)

print(X.shape, y.shape)

(6684, 7) (6684,)

In [10]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler for ridge hyperparameter tuning
X_scaled = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaled.transform(X_train)
X_test_scaled = X_scaled.transform(X_test)


print(X_train_scaled.shape)
print(y_train.shape)

(5347, 7)
(5347,)

In [11]:
# Find best alpha hyperparameter for Ridge Regression model
model = Ridge()
alphas = [0.1, 1.0, 10.0, 100.0, 200, 300, 400, 500, 600, 700, 800, 900, 1000]
param_grid = {'alpha': alphas}
grid_search = GridSearchCV(model, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train_scaled, y_train)
best_alpha = grid_search.best_params_['alpha']
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_test_scaled)
r2 = r2_score(y_test, y_pred)

print("Best Alpha:", best_alpha)
print("R2 Score:", round(r2,2))

Best Alpha: 1.0
R2 Score: 0.72

In [12]:
# Model: Ridge Regression
model = Ridge(alpha=100)
model.fit(X_train_scaled, y_train)

# Predictions
y_pred_ridge = model.predict(X_test_scaled)

# Metrics
mse_ridge = mean_squared_error(y_test, y_pred_ridge)
mae_ridge = mean_absolute_error(y_test, y_pred_ridge)
r2_ridge = r2_score(y_test, y_pred_ridge)

print("Ridge Regression")
print("Mean Squared Error:", round(mse_ridge,2))
print("Mean Absolute Error:", round(mae_ridge,2))
print("R-squared:", round(r2_ridge,2))

Ridge Regression
Mean Squared Error: 786057529.09
Mean Absolute Error: 22421.08
R-squared: 0.72

In [13]:
# Model: Lasso Regression
lasso_model = Lasso(alpha=100) 
lasso_model.fit(X_train_scaled, y_train)

# Predict
y_pred_lasso = lasso_model.predict(X_test_scaled)

# Metrics
mse_lasso = mean_squared_error(y_test, y_pred_lasso)
mae_lasso = mean_absolute_error(y_test, y_pred_lasso)
r2_lasso = r2_score(y_test, y_pred_lasso)

print("Lasso Regression")
print("Mean Squared Error:", round(mse_lasso,2))
print("Mean Absolute Error:", round(mae_lasso,2))
print("R-squared:", round(r2_lasso,2))

Lasso Regression
Mean Squared Error: 779401811.21
Mean Absolute Error: 22259.47
R-squared: 0.72

In [14]:
# Model: Decision Tree Regressor
param_grid = {'max_depth': [50, 100, 150, 200, 400, 500, 1000, None], 'min_samples_split': [2, 5, 10]}
decision_tree_model = DecisionTreeRegressor(random_state=78)
grid_search = GridSearchCV(decision_tree_model, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train_scaled, y_train)


# Best parameters
best_max_depth = grid_search.best_params_['max_depth']
best_min_samples_split = grid_search.best_params_['min_samples_split']
best_model = grid_search.best_estimator_


# Predict
y_pred = best_model.predict(X_test_scaled)

# Metrics
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Best Hyperparameters:")
print("Best max_depth:", best_max_depth)
print("Best min_samples_split:", best_min_samples_split)
print("\nDecision Tree Regressor")
print("Mean Squared Error:", round(mse,2))
print("Mean Absolute Error:", round(mae,2))
print("R-squared:", round(r2,2))

Best Hyperparameters:
Best max_depth: 50
Best min_samples_split: 5

Decision Tree Regressor
Mean Squared Error: 108396909.25
Mean Absolute Error: 4129.03
R-squared: 0.96

In [15]:
from sklearn.ensemble import RandomForestRegressor

# Define a smaller parameter grid to search over
param_grid = {
    'n_estimators': [400, 500, 700, 800, 900],  # Reduce the number of estimators
    'max_depth': [10,20,30, 40, 50],  # Reduce the number of max_depth values
    'min_samples_split': [45, 55, 65, 75, 85],  # Reduce the number of min_samples_split values
    'min_samples_leaf': [6, 7]  # Reduce the number of min_samples_leaf values
}

# Create a smaller dataset for faster training
# For example, use the first 1000 samples for training and testing
X_train_small = X_train_scaled[:1000]
y_train_small = y_train[:1000]
X_test_small = X_test_scaled[:1000]
y_test_small = y_test[:1000]

# Create a Random Forest Regressor
random_forest = RandomForestRegressor()

# Create GridSearchCV with the Random Forest Regressor and smaller parameter grid
grid_search = GridSearchCV(random_forest, param_grid, cv=3, scoring='neg_mean_squared_error')

# Fit the GridSearchCV to the smaller training data
grid_search.fit(X_train_small, y_train_small)

# Get the best hyperparameters and the best model from the grid search
forest_best_params = grid_search.best_params_
forest_best_model = grid_search.best_estimator_

# Predict using the best model
forest_y_pred = forest_best_model.predict(X_test_small)

# Metrics
forest_mse = mean_squared_error(y_test_small, forest_y_pred)
forest_mae = mean_absolute_error(y_test_small, forest_y_pred)
forest_r2 = r2_score(y_test_small, forest_y_pred)

# Print the best hyperparameters
print("Best Hyperparameters:")
print(forest_best_params)
print("Mean Squared Error:", round(forest_mse, 2))
print("Mean Absolute Error:", round(forest_mae, 2))
print("R-squared:", round(forest_r2, 2))

Best Hyperparameters:
{'max_depth': 10, 'min_samples_leaf': 6, 'min_samples_split': 45, 'n_estimators': 900}
Mean Squared Error: 340092272.61
Mean Absolute Error: 13905.13
R-squared: 0.88

In [16]:
forest_model = RandomForestRegressor(n_estimators=400,max_depth=50, min_samples_leaf=7, min_samples_split=45)
forest_model.fit(X_train_scaled, y_train)


y_forest = forest_model.predict(X_test_scaled)

mse_forest = mean_squared_error(y_test, y_forest)
mae_forest = mean_absolute_error(y_test, y_forest)
r2_forest = r2_score(y_test, y_forest)


print("Mean Squared Error:", round(mse_forest,2))
print("Mean Absolute Error:", round(mae_forest,2))
print("R-squared:", round(r2_forest,2))

Mean Squared Error: 153287275.91
Mean Absolute Error: 7823.47
R-squared: 0.94

In [17]:
# Save model and scaler with pickle
with open('scaler.pkl', 'wb') as f:
    pickle.dump(X_scaled, f)

with open("decision_tree_model.pkl", 'wb') as f:
    pickle.dump(best_model, f)